/*--- reset ---*/
body {
	font-family: open_sanslight, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
/*--- reset end ---*/


/*--- fonts ---*/
@font-face {
	font-family: 'alfa_slab_oneregular';
	src: url('fonts/alfaslabone-regular-webfont.eot');
	src: url('fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
	url('fonts/alfaslabone-regular-webfont.woff') format('woff'),
	url('fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
	url('fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanslight';
	src: url('fonts/opensans-light-webfont.eot');
	src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-light-webfont.woff2') format('woff2'),
	url('fonts/opensans-light-webfont.woff') format('woff'),
	url('fonts/opensans-light-webfont.ttf') format('truetype'),
	url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('fonts/opensans-semibold-webfont.eot');
	src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
	url('fonts/opensans-semibold-webfont.woff') format('woff'),
	url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*--- fonts end ---*/

.shadow {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.landingHeader{
  background-image: url('https://i.ytimg.com/vi/CZI9MZKfvgw/maxresdefault.jpg');
  background-position: 25%;
  background-repeat: no-repeat;
}


/*--- sidebar styles begin ---*/
#sidebar {
	box-sizing: border-box;
	position: fixed;
	padding: 60px 30px 30px 30px;
	height: 100%;
	width: 240px;
	background: linear-gradient(#322604, black 50%);
	text-align: center;
	/*z-index: -2;*/
}

#sidebar > #sidebarColorShading {
	position: absolute;
	height: 320px;
	top: 0;
	right: 0;
	left: 0;
	background: url('images/sidebarColorShading.png') no-repeat;
	z-index: -1;
}

#sidebar h3 {
	font-size: 18px;
	font-family: open_sanssemibold, sans-serif;
	color: white;
	margin-bottom: 25px;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0;
	color: white;
}

#sidebar li {
	margin: 7px 0;
	font-size: 16px;
	cursor: pointer;
	color: #b9b9b9;
}

#sidebar li:hover {
	color: white;
}

#mainBrandingContainer {
	text-align: center;
	margin-bottom: 60px;
}

#mainBrandingContainer .dartfeedLogo {
	fill: #feba27;
	width: 110px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#mainBrandingContainer h1 {
	font-family: alfa_slab_oneregular, sans-serif;
	font-size: 30px;
	color: white;
	margin: 0;
}

#sidebar .categoriesList {
	margin-bottom: 40px;
}

.minus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .minus {
	fill: #fe5657;
}

.plus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .plus {
	fill: #feba27;
}

#sidebar .userInfo {
	position: absolute;
	bottom: 30px;
	width: 180px;
	text-align: left;
}

.userInfo .profilePic {
	float: left;
	width: 40px;
}

.userInfo .userSettings {
	float: left;
	font-family: open_sanssemibold, sans-serif;
	margin: 0 0 0 20px;
}

.userInfo p {
	margin: 0;
}

.userInfo p.name {
	font-size: 16px;
	color: white;
}

.userInfo p:nth-last-child(1) {
	font-size: 13px;
	margin-top: -5px;
	color: #feba27;
}
/*--- sidebar styles end ---*/


/*--- article list styles start ---*/
#articlesContainer {
	position: relative;
	margin-left: 240px;
	padding: 50px;
	min-width: 800px;
}

.article {
	position: relative;
	margin-bottom: 15px;
	overflow: auto;
	height: 190px;
	overflow-y: hidden;
	/*box-shadow: 0 2px 2px #e4e4e4;*/
}

.article .scoreStrip {
	width: 20px;
	height: 100%;
	float: left;
	z-index: 10;
}

.article figure {
	width: 270px;
	height: 190px;
	overflow: hidden;
	float: left;
	margin: 0;
	transition: opacity .35s;
}

.article figure:hover {
	opacity: .7;
}

.article .articleDetails {
	position: relative;
	margin-left: 290px;
	padding: 30px;
	height: 130px;
	/*NOTICE pointer-events will prevent clicks on this wrapper div*/
	pointer-events: none;
}

.articleDetails span.backgroundImage {
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.articleTitle {
	font-family: alfa_slab_oneregular, sans-serif;
	color: #393939;
	margin-bottom: 10px;
	font-size: 22px;
}

.articleTitle a {
	transition: color .35s ease;
}

.articleTitle a:hover {
	color: #feba27 !important;
}


.articleTitle a:visited {
	color: #9d9f99;
}

.articleSummary {
	/*overflow-y:hidden;*/
	height:90px;
	font-size:14px;
}

.likeButton {
	float: right;
	height: 30px;
	width: 35px;
	margin: 12px 9px 0 0;
	cursor: pointer;
}

.likeButton .unclickedTarget {
	fill: grey;
	width: 28px;
	transition: fill .35s;
}

.likeButton .unclickedTarget:hover {
	fill: #c5c6bf;
}

.likeButton .clickedTarget {
	fill: #feba27;
}
/*--- article list styles end ---*/
