/*--- reset ---*/
body {
	font-family: open_sanslight, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
/*--- reset end ---*/


/*--- fonts ---*/
@font-face {
	font-family: 'alfa_slab_oneregular';
	src: url('fonts/alfaslabone-regular-webfont.eot');
	src: url('fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
	url('fonts/alfaslabone-regular-webfont.woff') format('woff'),
	url('fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
	url('fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanslight';
	src: url('fonts/opensans-light-webfont.eot');
	src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-light-webfont.woff2') format('woff2'),
	url('fonts/opensans-light-webfont.woff') format('woff'),
	url('fonts/opensans-light-webfont.ttf') format('truetype'),
	url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('fonts/opensans-semibold-webfont.eot');
	src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
	url('fonts/opensans-semibold-webfont.woff') format('woff'),
	url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*--- fonts end ---*/

/*--- landing page styles begin ---*/
#landingPageBackground {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: linear-gradient(#232323, black);
  z-index: -2;
}

#logosContainer {
  margin-top: 80px;
  position: absolute;
  width: 700px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: .15;
  z-index: -1;
}

@keyframes nearFloat {
  0%   { transform: translate(0, 0); }
  50% { transform: translate(0, 13px); }
}

@keyframes farFloat {
  0%   { transform: translate(0, 0); }
  50% { transform: translate(0, 10px); }
}

.logoFloat1 {
  -webkit-filter: blur(1px);
  animation: nearFloat 5s infinite;
}

.logoFloat2 {
  -webkit-filter: blur(3px);
  opacity: .8;
  animation: farFloat 4s infinite;
}

#nprLogo {
  position: absolute;
  top: 20px;
  left: 80px;
  height: 50px;
  width: 150px;
  background-image: url('images/nprlogo.png');
  background-size: cover;
}

#espnLogo {
  position: absolute;
  top: 230px;
  height: 50px;
  width: 150px;
  background-image: url('images/espnlogo.png');
  background-size: cover;
}

#avClubLogo {
  position: absolute;
  top: 400px;
  left: 135px;
  height: 100px;
  width: 100px;
  background-image: url('images/avclublogo.png');
  background-size: cover;
}

#techCrunchLogo {
  position: absolute;
  left: 500px;
  height: 90px;
  width: 90px;
  background-image: url('images/techcrunchlogo.png');
  background-size: cover;
}

#nytLogo {
  position: absolute;
  top: 240px;
  left: 390px;
  height: 90px;
  width: 120px;
  background-image: url('images/nytlogo.gif');
  background-position: center center;
  background-size: cover;
  opacity: .5;
}

#bbcLogo {
  position: absolute;
  top: 170px;
  right: 0;
  height: 60px;
  width: 120px;
  background-image: url('images/bbclogo.jpg');
  background-size: cover;
}

#voxLogo {
  position: absolute;
  top: 390px;
  left: 495px;
  height: 60px;
  width: 120px;
  background-image: url('images/voxlogo.jpg');
  background-size: cover;
}

.contentContainer {
  width: 260px;
  margin: 100px auto 0 auto;
  text-align: center;
}

#landingLogo {
  fill: #fec439;
  opacity: 1;
  width: 200px;
  -webkit-filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, .2));
  margin-left: 30px;
}

.contentContainer h1 {
  font-family: alfa_slab_oneregular, sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 20px;
  text-shadow: rgba(255, 255, 255, .4) 0 0 50px;
}

#tagline {
  color: white;
  font-size: 20px;
  margin-top: -30px;
}

#fbLogin {
  background-image: url(images/fbLogin.png);
  width: 202px;
  height: 46px;
  margin: 70px auto 0 auto;
}

.monkeyLearnContainer {
  width: 197px;
  margin: 100px auto 0 auto;
  opacity: .3;
  transition: opacity .3s;
}

.monkeyLearnContainer:hover {
  opacity: .5;
}

#poweredBy {
  font-size: 10px;
  color: white;
  margin-top: -10px;
}

img[alt="MonkeyLearnLogo"] {
  position: relative;
  top: 13px;
  margin-left: 7px;
}
/*--- landing page styles end ---*/


/*--- sidebar styles begin ---*/
#sidebar {
	box-sizing: border-box;
	position: fixed;
	padding: 40px 30px 30px 30px;
	height: 100%;
	width: 240px;
	background: linear-gradient(#322604, black 50%);
	text-align: center;
	/*z-index: -2;*/
}

#sidebar > #sidebarColorShading {
	position: absolute;
	height: 320px;
	top: 0;
	right: 0;
	left: 0;
	background: url('images/sidebarColorShading.png') no-repeat;
	z-index: -1;
}

#sidebar h3 {
	font-size: 18px;
	font-family: open_sanssemibold, sans-serif;
	color: white;
	margin-bottom: 20px;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0;
	color: white;
}

#sidebar li {
	margin: 7px 0;
	font-size: 16px;
	cursor: pointer;
	color: #b9b9b9;
}

#sidebar li:hover {
	color: white;
}

#mainBrandingContainer {
	text-align: center;
	margin-bottom: 35px;
}

#mainBrandingContainer .dartfeedLogo {
	fill: #feba27;
	width: 110px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#mainBrandingContainer h1 {
	font-family: alfa_slab_oneregular, sans-serif;
	font-size: 30px;
	color: white;
	margin: 0;
}

#sidebar .categoriesList {
	margin-bottom: 35px;
}

.minus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .minus {
	fill: #fe5657;
}

.plus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .plus {
	fill: #feba27;
}

#sidebar .userInfo {
	position: absolute;
	bottom: 30px;
	width: 180px;
	text-align: left;
}

.userInfo .profilePic {
	float: left;
	width: 40px;
}

.userInfo .userSettings {
	float: left;
	font-family: open_sanssemibold, sans-serif;
	margin: 0 0 0 20px;
}

.userInfo p {
	margin: 0;
}

.userInfo p.name {
	font-size: 16px;
	color: white;
}

.userInfo a {
	font-size: 13px;
	margin-top: -5px;
	color: #feba27;
}

.userInfo a[href='/api/auth/signout']:hover {
  color: #fee689;
}
/*--- sidebar styles end ---*/


/*--- article list styles start ---*/
#articlesContainer {
	position: relative;
	margin-left: 240px;
	padding: 50px;
	min-width: 800px;
}

.article {
	position: relative;
	margin-bottom: 15px;
	overflow: auto;
	height: 190px;
	overflow-y: hidden;
	/*box-shadow: 0 2px 2px #e4e4e4;*/
}

.article .scoreStrip {
	width: 20px;
	height: 100%;
	float: left;
	z-index: 10;
}

.article figure {
  width: 270px;
  height: 190px;
	overflow: hidden;
	float: left;
	margin: 0;
  transition: opacity .35s;
}

.article figure:hover {
  opacity: .7;
}

.article figure .thumbnail {
  display: block;
  width: 270px;
  height: 190px;
  transition: transform .5s;
}

.article .thumbnail:hover {
  transform: scale(1.05);
}

.article .articleDetails {
	position: relative;
	margin-left: 290px;
	padding: 30px;
	height: 130px;
	/* NOTICE pointer-events will prevent clicks on this wrapper div */
	pointer-events: none;
}

.articleDetails span.backgroundImage {
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.articleTitle {
	font-family: alfa_slab_oneregular, sans-serif;
	color: #393939;
	margin-bottom: 10px;
	font-size: 22px;
  pointer-events: auto;
}

.articleTitle a {
	transition: color .35s ease;
}

.articleTitle a:hover {
	color: #feba27 !important;
}


.articleTitle a:visited {
	color: #9d9f99;
}

.articleSummary {
	/*overflow-y:hidden;*/
	height:90px;
	font-size:14px;
}

.likeButton {
	float: right;
	height: 30px;
	width: 35px;
	margin: 12px 9px 0 0;
	cursor: pointer;
  z-index: 1;
}

.likeButton .unclickedTarget {
	fill: grey;
	width: 28px;
	transition: fill .35s;
}

.likeButton .unclickedTarget:hover {
	fill: #c5c6bf;
}

.likeButton .clickedTarget {
	fill: #feba27;
}
/*--- article list styles end ---*/
