@charset "UTF-8";

/*--- reset ---*/
body {
	font-family: open_sanslight, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
/*--- reset end ---*/


/*--- fonts ---*/
@font-face {
	font-family: 'alfa_slab_oneregular';
	src: url('fonts/alfaslabone-regular-webfont.eot');
	src: url('fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
	url('fonts/alfaslabone-regular-webfont.woff') format('woff'),
	url('fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
	url('fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanslight';
	src: url('fonts/opensans-light-webfont.eot');
	src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-light-webfont.woff2') format('woff2'),
	url('fonts/opensans-light-webfont.woff') format('woff'),
	url('fonts/opensans-light-webfont.ttf') format('truetype'),
	url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open_sanssemibold';
	src: url('fonts/opensans-semibold-webfont.eot');
	src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/opensans-semibold-webfont.woff2') format('woff2'),
	url('fonts/opensans-semibold-webfont.woff') format('woff'),
	url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*--- fonts end ---*/

/*.monkeyLogo{*/
  /*opacity:0.8;*/
  /*background-color: grey;*/
  /*width: 50%;*/
  /*margin: auto;*/
  /*padding: 1% 0 1% 0;*/
  /*border-radius: 2px;*/
/*}*/

/*.shadow:hover {*/
  /*top:-10px;*/
  /*-webkit-transition-property: top, bottom;*/
  /*-webkit-transition-duration: 0.5s;*/
/*}*/

/*.shadow{*/
  /*cursor: pointer;*/
  /*color:black;*/
  /*font-weight: bold;*/
  /*background-color*/
  /*-webkit-transition: all 1s ease;*/
  /*-moz-transition: all 1s ease;*/
  /*-o-transition: all 1s ease;*/
  /*transition: all 1s ease;*/
/*}*/

.shadow {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.landingHeader{
  background-image: url('https://i.ytimg.com/vi/CZI9MZKfvgw/maxresdefault.jpg');
  background-position: 25%;
  background-repeat: no-repeat;
}

body {
  /*min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

/*.jumbotron {*/
  /*padding-top: 6rem;*/
  /*padding-bottom: 6rem;*/
  /*margin-bottom: 0;*/
  /*background: none;*/
  /*filter: alpha(opacity=20);*/
/*}*/

/*.jumbotron p:last-child {*/
  /*margin-bottom: 0;*/
/*}*/

/*.jumbotron-heading {*/
  /*font-weight: 300;*/
/*}*/

/*.jumbotron .container {*/
  /*max-width: 40rem;*/
/*}*/

.album {
  /*min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  margin-left: 150px;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

/*.card {*/
  /*float: left;*/
  /*width: 33.333%;*/
  /*padding: .75rem;*/
  /*margin-bottom: 2rem;*/
  /*border: 0;*/
/*}*/

/*.card > img {*/
  /*margin-bottom: .75rem;*/
/*}*/

/*.card-text {*/
  /*font-size: 85%;*/
/*}*/

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}




/*--- sidebar styles begin ---*/
#sidebar {
	box-sizing: border-box;
    position: fixed;
	padding: 60px 30px 30px 30px;
	height: 100%;
    width: 240px;
    background-image: linear-gradient(rgba(254, 186, 39, .22), black 50%);
	background-color: black;
	text-align: center;
}

#sidebar h3 {
	font-size: 18px;
	font-family: open_sanssemibold, sans-serif;
	color: white;
	margin-bottom: 25px;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0;
	color: white;
}

#sidebar li {
	margin: 7px 0;
	font-size: 16px;
	cursor: pointer;
	color: #b9b9b9;
}

#sidebar li:hover {
	color: white;
}

#mainBrandingContainer {
	text-align: center;
	margin-bottom: 60px;
}

#mainBrandingContainer .dartfeedLogo {
	fill: #feba27;
	width: 110px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#mainBrandingContainer h1 {
	font-family: alfa_slab_oneregular, sans-serif;
	font-size: 30px;
	color: white;
	margin: 0;
}

#sidebar .categoriesList {
	margin-bottom: 40px;
}

.minus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .minus {
	fill: #fe5657;
}

.plus {
	fill: white;
	width: 12px;
	margin-left: 7px;
}

li:hover .plus {
	fill: #feba27;
}

#sidebar .userInfo {
	position: absolute;
	bottom: 30px;
	width: 180px;
	text-align: left;
}

.userInfo .profilePic {
	float: left;
	width: 40px;
}

.userInfo .userSettings {
	float: left;
	font-family: open_sanssemibold, sans-serif;
	margin: 0 0 0 20px;
}

.userInfo p {
	margin: 0;
}

.userInfo p.name {
	font-size: 16px;
	color: white;
}

.userInfo p:nth-last-child(1) {
	font-size: 13px;
	margin-top: -5px;
	color: #feba27;
}
/*--- sidebar styles end ---*/




/*--- article list styles start ---*/
#articlesContainer {
	position: relative;
	margin-left: 240px;
	padding: 50px;
	min-width: 800px;
}

.article {
	position: relative;
	margin-bottom: 15px;
	overflow: auto;
	height: 190px;
	overflow-y: hidden;
	/*box-shadow: 0 2px 2px #e4e4e4;*/
}

.article .scoreStrip {
	width: 20px;
	height: 100%;
	background-color: #feba27;
	float: left;
	z-index: 10;
}

.article figure {
	width: 270px;
	height: 190px;
	overflow: hidden;
	float: left;
	margin: 0;
	transition: opacity .2s;
}

.article figure:hover {
	opacity: .8;
}

.article .articleDetails {
	position: relative;
	margin-left: 290px;
	padding: 30px;
	height: 130px;
	/*NOTICE pointer-events will prevent clicks on this wrapper div*/
	pointer-events: none;
}

.articleDetails span.backgroundImage {
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.articleTitle {
	font-family: alfa_slab_oneregular, sans-serif;
	color: #393939;
	margin-bottom: 10px;
	font-size: 22px;
}

.articleTitle a {
	transition: color .15s ease;
}

.articleTitle a:hover {
	color: #feba27 !important;
}


.articleTitle a:visited {
	color: #9d9f99;
}

.articleSummary {
	/*overflow-y:hidden;*/
	height:90px;
	font-size:14px;
}

.likeButton {
	float: right;
	height: 30px;
	width: 35px;
	margin: 12px 9px 0 0;
	cursor: pointer;
}

.likeButton .unclickedTarget {
	fill: grey;
	width: 28px;
	transition: fill .2s;
}

.likeButton .unclickedTarget:hover {
	fill: #c5c6bf;
}

.likeButton .clickedTarget {
	fill: #feba27;
}
/*--- article list styles end ---*/


#addCategoryHeader {
  margin-top:40px;
  text-decoration: underline;
}
#categoriesListHeader {
  margin-top:100px;
  text-decoration:underline;
}

#signOut {
  position:absolute;
  bottom:20px;
}
